**/android-platform-tools/
**/python-3.9.13-embed-amd64/
**/.idea
**/win-unpacked
**/toolkit
**/.vscode
**/__pycache__
**/output
**/pic
**/log
**/node_modules

config/reloadnkas
glo.py
install_package.py
start.bat
updater.bat
config/deploy.yaml
config/nkas.json
