html, body, #app {
    height: auto;
    overflow: hidden;

}

#app {
    background-color: #333333
}

* {
    box-sizing: border-box;
    /*-webkit-user-select: none;*/

}

::-webkit-scrollbar {
    /*Òþ²Ø¹öÂÖ*/
    display: none;
}

