html, body, #app {
    height: auto;
    overflow: hidden;

}

#app {
    background-color: #333333
}

* {
    box-sizing: border-box;
    /*-webkit-user-select: none;*/

}

.el-menu--popup {
    padding: 0
}

::-webkit-scrollbar {
    /*Òþ²Ø¹öÂÖ*/
    display: none;
}

.el-notification {
    background-color: #3e3e3e;
    border: none;
    --el-notification-title-color: #c0c0c0;
    --el-notification-content-color: #c0c0c0
}


